body {
}

.text-normal {
    text-transform: initial !important
}

.btn-w {
    color: white;
}

.btn-green {
    background-color: #28a745 !important;
}

.btn-blue {
    background-color: #007bff !important
}

.btn-iceblue {
    background-color: #17a2b8 !important
}

.bg-pink {
    background-color: lightpink !important;
}

.bg-default {
    background-color: #1594d0 !important;
}






/*#toast-container > .toast {
    background-image: none !important;
}*/

/*Account Manage >>>>>>>*/
.my-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}

.me-2 {
    margin-right: .5rem !important;
}
/*ACCOUNT Manage <<<<<*/


.toast-custom {
    top: 80px;
    right: 0px;
}


/*Bread >>>>>>>>>>> */
.bread {
    font-size: 13px !important;
    text-decoration: none !important;
    cursor: pointer;
}

.breadfirst:hover {
    color: #1594d0;
}

.breadsecond:hover {
    color: gray;
}

.mb-40 {
    margin-bottom: -40px !important;
}

.mb-00 {
    margin-bottom: 0px !important;
}

.mt-00 {
    margin-top: 0px !important;
}
/*BREAD <<<<<<<<<<<<<<< */



.logo-next-name {
    color: #1594d0;
    font-size: 20px;
    margin-left: 8px;
    margin-top: 7px;
}

/*@media (min-width: 576px) {
    .home-text {
        max-width: 540px
    }
}

@media (min-width: 768px) {
    .home-text {
        max-width: 720px
    }
}

@media (min-width: 992px) {
    .home-text {
        max-width: 960px
    }
}*/

@media (min-width: 1200px) {
    .home-text {
        margin-top: -250px !important;
    }
}


/*--------------------*/

.fs15 {
    font-size: 15px !important;
}
